<!--This is a banner image-->
<p><img src="assets/images/medical.jpg">
  The Galway Clinic is a state of the art 146 bed hospital which provides 24 hour health care services. 
  There are in excess of 140 highly skilled Physicians and Surgeons covering a wide variety of specialties.
  The Galway Clinic introduced vital services such as Oncology treatment and Cardiac services to the West of Ireland in 2004.
  The Galway Clinic provides the widest range of treatment for prostate cancer in Ireland.
  The Galway Clinic provides the latest technologies in Radiology Imaging with services including 3T MRI, Cardiac CT, PET CT, Digital Mammography, CT, Ultrasound and X-Ray.
</p>
<form>
    
  <input class="MyButton" type="button" value="Learn More" 
  onclick="window.location.href='http://www.hyperlinkcode.com/button-links.php'" />
  
  
  <!--This is a button i have linked to the HSE website-->
  </form>
<html>
<body>
  
  <head>
    <style>
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
        position: center;
    }
    
    td, th {
        border: 1px solid #dddddd;
        text-align: center;
        padding: 8px;
    }
    
    tr:nth-child(even) {
        background-color: #dddddd;
    }
  

.box {
    float: left;
    width: 50%;
    padding: 50px;
    height: 300px;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
    </style>
    </head>
    <body>
    <!--This is a table i have coded with the hospitals opening hours-->
    <h2>Galway Health Center Opening Hours</h2>
    
    <table>
      <tr>
        <th>Monday</th>
        <th>Tuesday</th>
        <th>Wednesday</th>
        <th>Thursday</th>
        <th>Friday</th>
        <th>Saturday</th>
        <th>Saturday</th>
        <th>Sunday</th>
      </tr>
      <tr>
        <td>9am to 9pm</td>
        <td>10am to 9pm</td>
        <td>10am to 9pm</td>
        <td>10am to 9pm</td>
        <td>10am to 9pm</td>
        <td>10am to 5pm</td>
        <td>11am to 5pm</td>
        <td>11am to 5pm</td>
      </tr>
    </table>
    <br>
    <!--This is a youtube video i have embedded into this page-->
    <iframe width="1350" height="815" src="https://www.youtube.com/embed/vzzvISOt0qk" 
    frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" 
    allowfullscreen>
  </iframe>
  <br>
  